@using HappyMeal_v3.ViewModels
@model MarkViewModel

<div id="mark" class="rating">
    @*<button type="submit" class="mark_button" data-id="1">☆</button>
        <button type="submit" class="mark_button" data-id="2">☆</button>
        <button type="submit" class="mark_button" data-id="3">☆</button>
        <button type="submit" class="mark_button" data-id="4">☆</button>
        <button type="submit" class="mark_button" data-id="5">☆</button>*@
    <a href="#5" class="mark_button" data-id="5" title="Donner 5 étoiles">☆</a>
    <a href="#4" class="mark_button" data-id="4" title="Donner 4 étoiles">☆</a>
    <a href="#3" class="mark_button" data-id="3" title="Donner 3 étoiles">☆</a>
    <a href="#2" class="mark_button" data-id="2" title="Donner 2 étoiles">☆</a>
    <a href="#1" class="mark_button" data-id="1" title="Donner 1 étoile">☆</a>
</div>
