<div id="order">
	<span id="name">Email</span>
	<input id="mail" class="form-control" type="text" name="email">

    <div id="template">
        <button id="send" type="submit">Commander</button>
        <div>
            <a id="empty" type="submit" href="@Url.Action("Download", "Home")">Menu vierge</a>
        </div>
    </div>
</div>