@using HappyMeal_v3.ViewModels
@model AccountViewModel

<div class="row">
    <div id="account">
        <form method="post" asp-action="Authentication" asp-controller="Account">

            <label for="Email" id="email">Email :</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label for="Password" id="password">Mot de passe :</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" id="validation">Valider</button>

        </form>
    </div>
</div>

